.container{
    display: grid;
    grid-template: 8vh 84vh 8vh/2fr 10fr;
    grid-template-areas:
      "a h"
      "a m"
      "a f";
}

header {
    background: #FFFDFD;
    height: 100%;
    grid-area: h;
}

main {
    background: #FFFDFD;
    grid-area: m;
    padding: 1rem 1rem 2rem 1rem;
}

main .content{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

aside {
    background: #131313;
    height: 100%;
    grid-area: a;
}

footer {
    background: #FFFDFD;
    height: 100%;
    grid-area: f;
}